<div class="page">
  <div class="container">
    <div class="line">
      <h1 class="title">
        Vehicle Management
      </h1>
    </div>
    <div class="line">
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis vel lorem euismod mollis. Etiam nec porttitor nibh. Sed vitae quam a odio aliquet euismod ut in ante. In in laoreet neque. Integer porttitor sollicitudin est at tristique. Vestibulum tristique, leo eu dignissim tincidunt, ligula libero consectetur enim, a vulputate lorem elit non nibh.</p>
    </div>
    <div class="line">
      <mat-form-field class="example-full-width">
        <mat-label>Plate search</mat-label>
        <input matInput placeholder="Enter the vehicle plate">
      </mat-form-field>
      <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
      <button mat-raised-button class="conf">Add a car +</button>
    </div>
    <div class="line">

    </div>

  </div>
</div>

